[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/delimit_mate"]
	path = home/.vim/bundle/delimit_mate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/powerline"]
	path = home/.vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "home/.vim/bundle/check_syntax"]
	path = home/.vim/bundle/check_syntax
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-dispatch"]
	path = home/.vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "home/.vim/bundle/git-grep-vim"]
	path = home/.vim/bundle/git-grep-vim
	url = git@github.com:henrik/git-grep-vim.git
