[user]
  name  = William Billington
  email = william.billington@econsultancy.com

[alias]
  a   = add
  co  = checkout
  f   = fetch
  c  = commit -v
  ca  = commit -v --amend
  d   = diff
  dc  = diff --cached
  g   = grep -n
  # graph log of head branch
  l   = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(yellow)%an%Creset' --abbrev-commit --date=relative
  # graph log of all branches
  la   = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(yellow)%an%Creset' --abbrev-commit --all --date=relative
  p   = push
  ri  = rebase --interactive --autosquash
  rc  = rebase --continue
  ra  = rebase --abort
  s   = status
  sh = show head

[color]
  ui = true

[core]
  excludesfile = ~/.gitignore
  editor = vim

[github]
  user = billbillington

[init]
  templatedir = ~/.git_template
[merge]
  conflictstyle = diff3
